In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe1 = pd.DataFrame({'key': ['X','Z','Y','Z','X','X'], 'data_set_1':np.arange(6)})

dataframe1

   data_set_1 key
0           0   X
1           1   Z
2           2   Y
3           3   Z
4           4   X
5           5   X

In [3]:
dataframe2 = pd.DataFrame({'key':['Q','Y','Z'], 'data_set_2':[1,2,3]})

dataframe2

   data_set_2 key
0           1   Q
1           2   Y
2           3   Z

In [4]:
pd.merge(dataframe1, dataframe2)

   data_set_1 key  data_set_2
0           1   Z           3
1           3   Z           3
2           2   Y           2

Notice that the two dataframes had keys Y & Z common, so it matched the two dataframes based on those keys and ignored the rest.

In [5]:
# Merging two dataframes on a particular column
pd.merge(dataframe1, dataframe2, on='key')

   data_set_1 key  data_set_2
0           1   Z           3
1           3   Z           3
2           2   Y           2

In [6]:
# merging using 'left'
pd.merge(dataframe1, dataframe2, on='key', how='left')

   data_set_1 key  data_set_2
0           0   X         NaN
1           1   Z         3.0
2           2   Y         2.0
3           3   Z         3.0
4           4   X         NaN
5           5   X         NaN

Notice that the two dataframes were merged on key column of the first dataframe (dataframe1 is on the left). Since datafram2 had no X values hence NaN. And the key Q in dataframe2 was not in dataframe1 so it was dropped.