In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe1 = pd.DataFrame({'key': ['X','Z','Y','Z','X','X'], 'data_set_1':np.arange(6)})

dataframe1

   data_set_1 key
0           0   X
1           1   Z
2           2   Y
3           3   Z
4           4   X
5           5   X

In [3]:
dataframe2 = pd.DataFrame({'key':['Q','Y','Z'], 'data_set_2':[1,2,3]})

dataframe2

   data_set_2 key
0           1   Q
1           2   Y
2           3   Z

In [4]:
# Many to One merge
pd.merge(dataframe1, dataframe2)

   data_set_1 key  data_set_2
0           1   Z           3
1           3   Z           3
2           2   Y           2

Notice that the two dataframes had keys Y & Z common, so it matched the two dataframes based on those keys and ignored the rest.

In [5]:
# Merging two dataframes on a particular column
pd.merge(dataframe1, dataframe2, on='key')

   data_set_1 key  data_set_2
0           1   Z           3
1           3   Z           3
2           2   Y           2

In [6]:
# merging using 'left'
pd.merge(dataframe1, dataframe2, on='key', how='left')

   data_set_1 key  data_set_2
0           0   X         NaN
1           1   Z         3.0
2           2   Y         2.0
3           3   Z         3.0
4           4   X         NaN
5           5   X         NaN

Notice that the two dataframes were merged on key column of the first dataframe (dataframe1 is on the left). Since datafram2 had no X values hence NaN. And the key Q in dataframe2 was not in dataframe1 so it was dropped.

In [7]:
# merging using 'right'
pd.merge(dataframe1, dataframe2, on='key', how='right')

   data_set_1 key  data_set_2
0         1.0   Z           3
1         3.0   Z           3
2         2.0   Y           2
3         NaN   Q           1

In [8]:
# To use the keys of both the dataframes (union)
pd.merge(dataframe1, dataframe2, on='key', how='outer')

   data_set_1 key  data_set_2
0         0.0   X         NaN
1         4.0   X         NaN
2         5.0   X         NaN
3         1.0   Z         3.0
4         3.0   Z         3.0
5         2.0   Y         2.0
6         NaN   Q         1.0

Notice that the 'key' column of both the dataframes were used and it merged them using union.

In [14]:
# Many to Many merge
df_left = pd.DataFrame({'key1': ['SF','SF','LA'], 'key2': ['one','two','one'], 'left_data':[10,20,30]})
df_right = pd.DataFrame({'key1':['SF','SF','LA','LA'], 'key2':['one','one','one','two'], 'right_data':[40,50,60,70]})

In [15]:
df_left

  key1 key2  left_data
0   SF  one         10
1   SF  two         20
2   LA  one         30

In [16]:
df_right

  key1 key2  right_data
0   SF  one          40
1   SF  one          50
2   LA  one          60
3   LA  two          70

In [17]:
pd.merge(df_left, df_right, on=['key1','key2'], how='outer')

  key1 key2  left_data  right_data
0   SF  one       10.0        40.0
1   SF  one       10.0        50.0
2   SF  two       20.0         NaN
3   LA  one       30.0        60.0
4   LA  two        NaN        70.0