In [1]:
import numpy as np
import pandas as pd

In [2]:
ser1 = pd.Series([1,2,3,4], index=['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
# Lets reindex our ser1 series and create a new series
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2
# Notice how pandas added NaN for indices that had no values

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
# We can set a default value for NaN valued indices
ser2.reindex(['A','B','C','D','E','F','G'], fill_value = 0) # This will add a default 0 to indices without any value or NaN

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [16]:
ser3 = pd.Series(["USA", "Canada", "Mexico"], index=[0,5,10])

ser3

0        USA
5     Canada
10    Mexico
dtype: object

In [17]:
# The forwardfill (ffill) method
# Documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.reindex.html
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Canada
6     Canada
7     Canada
8     Canada
9     Canada
10    Mexico
11    Mexico
12    Mexico
13    Mexico
14    Mexico
dtype: object

In [18]:
dframe = pd.DataFrame(np.random.randn(25).reshape((5,5)), index=['A','B','D','E','F'], 
                      columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A -0.790325  2.674577 -0.345614 -1.416629  0.205986
B -2.733508 -1.130804 -1.387698  0.169110 -0.945155
D  0.521535 -0.254823 -0.882542  0.193668 -0.971872
E -0.821606  1.259314  0.332079  0.591791 -1.563275
F -1.091782  0.648895  0.118872  0.252615 -1.756999

In [19]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

dframe2

       col1      col2      col3      col4      col5
A -0.790325  2.674577 -0.345614 -1.416629  0.205986
B -2.733508 -1.130804 -1.387698  0.169110 -0.945155
C       NaN       NaN       NaN       NaN       NaN
D  0.521535 -0.254823 -0.882542  0.193668 -0.971872
E -0.821606  1.259314  0.332079  0.591791 -1.563275
F -1.091782  0.648895  0.118872  0.252615 -1.756999

In [20]:
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns) # Reindexing columns

       col1      col2      col3      col4      col5  col6
A -0.790325  2.674577 -0.345614 -1.416629  0.205986   NaN
B -2.733508 -1.130804 -1.387698  0.169110 -0.945155   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.521535 -0.254823 -0.882542  0.193668 -0.971872   NaN
E -0.821606  1.259314  0.332079  0.591791 -1.563275   NaN
F -1.091782  0.648895  0.118872  0.252615 -1.756999   NaN

In [23]:
# Reindexing usine ix
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -0.790325  2.674577 -0.345614 -1.416629  0.205986   NaN
B -2.733508 -1.130804 -1.387698  0.169110 -0.945155   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.521535 -0.254823 -0.882542  0.193668 -0.971872   NaN
E -0.821606  1.259314  0.332079  0.591791 -1.563275   NaN
F -1.091782  0.648895  0.118872  0.252615 -1.756999   NaN