In [3]:
import pandas as pd
import numpy as np

In [4]:
ser1 = pd.Series(np.arange(3), index=['a','b','c'])

ser1

a    0
b    1
c    2
dtype: int64

In [5]:
# Let's drop b index in the Series
ser1.drop('b')

a    0
c    2
dtype: int64

In [6]:
dframe1 = pd.DataFrame(np.arange(9).reshape((3,3)), index=['a','b','c'], columns=['col1','col2','col3'])

dframe1

   col1  col2  col3
a     0     1     2
b     3     4     5
c     6     7     8

In [7]:
# Lets drop the row with index b
dframe1.drop('b') # remember this doesn't effect the dframe1 dataframe, you will have to create a new DF or use inplace=True

   col1  col2  col3
a     0     1     2
c     6     7     8

In [8]:
dframe1

   col1  col2  col3
a     0     1     2
b     3     4     5
c     6     7     8

In [9]:
# Let's drop col3
dframe1.drop('col3', axis=1)

# axis=0 is rows and axis=1 is column, by default its axis=0

   col1  col2
a     0     1
b     3     4
c     6     7