In [7]:
import pandas as pd
import numpy as np

In [8]:
ser1 = pd.Series(np.arange(3), index=['A','B','C'])

ser1

A    0
B    1
C    2
dtype: int64

In [9]:
ser1 = ser1 * 2

ser1

A    0
B    2
C    4
dtype: int64

In [10]:
ser1['C'] # By key

4

In [11]:
ser1[2] # By key index

4

In [13]:
ser1[0:2]

A    0
B    2
dtype: int64

In [14]:
ser1[['A','C']]

A    0
C    4
dtype: int64

In [15]:
ser1[ser1 > 3] # Conditional selecting

C    4
dtype: int64

In [16]:
ser1[ser1 > 3] = 20

ser1

A     0
B     2
C    20
dtype: int64

In [17]:
dframe = pd.DataFrame(np.arange(25).reshape((5,5)), index=['a','b','c','d','e'], 
                      columns=['col1','col2','col3','col4','col5'])

dframe

   col1  col2  col3  col4  col5
a     0     1     2     3     4
b     5     6     7     8     9
c    10    11    12    13    14
d    15    16    17    18    19
e    20    21    22    23    24

In [19]:
dframe['col4']

a     3
b     8
c    13
d    18
e    23
Name: col4, dtype: int64

In [20]:
dframe[['col2','col4']]

   col2  col4
a     1     3
b     6     8
c    11    13
d    16    18
e    21    23

In [21]:
dframe[dframe['col4'] > 8] # It returns all the dataset where col4 value is greater than 8

   col1  col2  col3  col4  col5
c    10    11    12    13    14
d    15    16    17    18    19
e    20    21    22    23    24

In [22]:
dframe > 10 # Will return a boolean dataframe

    col1   col2   col3   col4   col5
a  False  False  False  False  False
b  False  False  False  False  False
c  False   True   True   True   True
d   True   True   True   True   True
e   True   True   True   True   True

In [23]:
# We can select entries by rows
dframe.ix['d']

col1    15
col2    16
col3    17
col4    18
col5    19
Name: d, dtype: int64

In [24]:
dframe.ix[3]

col1    15
col2    16
col3    17
col4    18
col5    19
Name: d, dtype: int64