In [1]:
import pandas as pd
import numpy as np

In [2]:
ser1 = pd.Series([0,1,2], index=["A","B","C"])

ser1

A    0
B    1
C    2
dtype: int64

In [3]:
ser2 = pd.Series([3,4,5,6], index=["A","B","C","D"])

ser2

A    3
B    4
C    5
D    6
dtype: int64

In [4]:
# What will happen if both the Series are added together
ser1 + ser2

A    3.0
B    5.0
C    7.0
D    NaN
dtype: float64

Notice that Pandas added the values which had common index, and it will add a NaN (null) value if it cannot find a matching index.

In [5]:
dframe = pd.DataFrame(np.arange(4).reshape((2,2)), index=['A','B'], columns=['col1','col2'])
dframe

   col1  col2
A     0     1
B     2     3

In [6]:
dframe2 = pd.DataFrame(np.arange(9).reshape((3,3)), index=['A','D','C'], columns=['col1','col3','col2'])

dframe2

   col1  col3  col2
A     0     1     2
D     3     4     5
C     6     7     8

In [8]:
# Let's add these two dataframes together
dframe + dframe2

   col1  col2  col3
A   0.0   3.0   NaN
B   NaN   NaN   NaN
C   NaN   NaN   NaN
D   NaN   NaN   NaN

Notice above that the only cell that were added was A,col1 and A,col2 that is because that were the only row and column that was common in both the dataframe.

In [9]:
# We can also add two dataframes using .add(), which will give us the ability to add a default value for our NaN
dframe.add(dframe2, fill_value=0)

   col1  col2  col3
A   0.0   3.0   1.0
B   2.0   3.0   NaN
C   6.0   8.0   7.0
D   3.0   5.0   4.0

Notice that the values are now added with 0, but we see one NaN value, that is because B,col3 is not available in either of the dataframes.

In [11]:
ser3 = dframe2.ix[0]

ser3

col1    0
col3    1
col2    2
Name: A, dtype: int64

In [12]:
dframe2-ser3

   col1  col3  col2
A     0     0     0
D     3     3     3
C     6     6     6